source https://api.nuget.org/v3/index.json
storage: packages

nuget MathNet.Numerics ~> 4.6
nuget MathNet.Numerics.Signed ~> 4.6

nuget Newtonsoft.Json ~> 10.0.3
nuget Protobuf-net ~> 2.3.3

nuget StyleCop.Analyzers
nuget Microsoft.CodeAnalysis.CSharp.Workspaces
nuget Microsoft.Composition
nuget Gu.Roslyn.Asserts
nuget PublicApiAnalyzer prerelease

nuget System.Collections.Immutable
nuget System.Reflection.Metadata

// Testing
nuget NUnit ~> 3.0 framework:net461,netcoreapp2.1
nuget NUnitLite ~> 3.0 framework:net461,netcoreapp2.1
nuget Microsoft.NET.Test.Sdk
nuget NUnit3TestAdapter

// Benchmarks
nuget BenchmarkDotNet content:none, strategy:min, framework:net471,netcoreapp2.1
nuget BenchmarkDotNet.Diagnostics.Windows content:none, strategy:min, framework:net471

nuget System.Runtime strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget System.Runtime.Numerics strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget System.Runtime.Serialization.Xml strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget System.Runtime.Serialization.Primitives strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget System.Runtime.Serialization.Formatters strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget System.Security.Cryptography.Algorithms strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget System.Diagnostics.Contracts strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
 
nuget NETStandard.Library 2.0.3 strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget Microsoft.NETCore.Platforms 2.1.1 strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget Microsoft.NETCore.App 2.1.5 strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget Microsoft.NETCore.DotNetHost 2.1.5 strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget Microsoft.NETCore.DotNetAppHost 2.1.5 strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget Microsoft.NETCore.DotNetHostPolicy 2.1.5 strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget Microsoft.NETCore.DotNetHostResolver 2.1.5 strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget Microsoft.NETCore.Jit 2.0.8 strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
nuget Microsoft.NETCore.Runtime.CoreCLR 2.0.8 strategy:min, framework:netstandard1.3,netstandard1.6,netstandard2.0,netcoreapp2.1
 

group Build
    source https://api.nuget.org/v3/index.json
    storage: packages
    nuget FAKE ~> 4.6
    nuget NUnit.ConsoleRunner
    nuget FSharp.Formatting !~> 2.4
    nuget NuGet.CommandLine
