source https://api.nuget.org/v3/index.json
storage: packages

nuget System.Runtime framework:netstandard1.3,netstandard1.6,netcoreapp1.1
nuget System.Runtime.Serialization.Xml framework:netstandard1.3,netstandard1.6,netcoreapp1.1
nuget System.Runtime.Serialization.Primitives framework:netstandard1.3,netstandard1.6,netcoreapp1.1
nuget System.Runtime.Serialization.Formatters framework:netstandard1.3,netstandard1.6,netcoreapp1.1

nuget NETStandard.Library 2.0.1 strategy:min, framework:netstandard1.3,netstandard1.6,netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.App 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.DotNetHost 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.DotNetAppHost 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.DotNetHostPolicy 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.DotNetHostResolver 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.Jit 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0
nuget Microsoft.NETCore.Runtime.CoreCLR 2.0.5 strategy:min, framework:netcoreapp1.1,netcoreapp2.0

group Build
    source https://api.nuget.org/v3/index.json
    storage: packages
    nuget FAKE ~> 4.6
    nuget NUnit.Console ~> 3.7
    nuget FSharp.Formatting !~> 2.14.4
    nuget NuGet.CommandLine

group MathNet
    source https://api.nuget.org/v3/index.json
    storage: packages
    framework: net40, netstandard1.3, netstandard2.0, net45, netcoreapp1.1, netcoreapp2.0
    nuget MathNet.Numerics 4.0.0-beta06 prerelease
    nuget MathNet.Numerics.Signed 3.20.2
    nuget StyleCop.Analyzers
    nuget System.Diagnostics.Contracts framework:netstandard1.3

group Test
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget NUnit ~> 3.9
    nuget NUnitLite ~> 3.9
    nuget Newtonsoft.Json ~> 10.0.3
    nuget Protobuf-net ~> 2.3.3	
    nuget MathNet.Numerics 4.0.0-beta06 prerelease
    nuget StyleCop.Analyzers

group Benchmark
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: net471, netstandard2.0, netcoreapp2.0
    nuget System.Runtime.InteropServices.RuntimeInformation ~> 4.3 strategy:min
    nuget BenchmarkDotNet content:none, strategy:max
    nuget BenchmarkDotNet.Diagnostics.Windows content:none, strategy:min, framework:net471
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit ~> 3.9 strategy:min
    nuget MathNet.Numerics 4.0.0-beta06 prerelease
    nuget StyleCop.Analyzers

group Roslyn
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Microsoft.CodeAnalysis.CSharp.Workspaces 1.2.1
    nuget System.Collections.Immutable 1.1.37
    nuget System.Reflection.Metadata 1.2.0
    nuget Microsoft.Composition 1.0.27
    nuget NUnit ~> 3.9
    nuget Gu.Roslyn.Asserts 1.2.0
    nuget StyleCop.Analyzers
