source http://www.nuget.org/api/v2

# Core Dependencies
nuget MathNet.Numerics ~> 3.8

# Development Dependencies
nuget NUnit ~> 2.6

# Tools
nuget FAKE ~> 4.1
nuget NUnit.Runners ~> 2.6
nuget FSharp.Formatting !~> 2.4
nuget StyleCop.MSBuild !~> 4.7
nuget NuGet.CommandLine
